{% extends 'pages/base.html' %}
{% load static %}
{% block title %}Edit{% endblock %}
{% block body %}

    <div class="container">
        {% if messages %}
        {% for i in messages %}
        <div class="alert alert-{{i.tags}} alert-dismissible" data-clossable>
            {{i}}
            <button type="button" class="close" data-dismiss="alert" data-close>&times;</button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="card">
            <div class="card-header">
                <h2>Edit Poll</h2>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="img" style="width: 240px;">
                            <div class="image-holder" style="width: 220px;padding-left: 20px;height: 220px;padding-top: 20px;">
                                {% for state in states %}
                                    {% if state.id == poll.Poll_State_id %}

                                        {% with stateimage=state.State_Image %}
                                            <img src="{{stateimage.url}}" alt="" height="100%" width="100%">
                                        {% endwith %}
                                        {{break}}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="desc" style="padding-left: 30px;">
                            <form method="post">
                                {% csrf_token %}
                                <p>Poll Description</p>
                                <textarea name="poll_description" cols="70" rows="5">{{poll.Poll_Description}}</textarea>

                                <hr>
                                <input type="submit" value="Update" class="btn btn-primary mt-3">
                                <a href="{% url 'delete_poll' poll.id %}" class="btn btn-danger mt-3" role="button" onclick="return confirm('Are you Sure?')">Delete</a>
                                <a href="{% url 'add_choice' poll.id %}" class="btn btn-warning mt-3" role="button">Add Candidate</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer" style="padding: 20px;">
                <h5>Candidates</h5>
                <hr>
                <div class="candidates" style="width: 100%;padding-left: 70px;padding-right: 50px;">
                    <div class="container">
                        {% for candidate in candidates %}
                        <div class="row" style="padding-left: 30px;padding-right: 30px;">
                            <div class="pic" style="position: relative;border: 1px lightgrey solid;height: 100px;width: 100px;top: 20px;left: 20px;">
                                <img src="{{candidate.Party_PIC.url}}" alt="" height="100%" width="100%">
                            </div>
                            <div class="polldescription" style="padding: 20px;position: relative;top: 10px;left: 20px;">
                                <h5><u>Candidate</u>: {{candidate.Candidate_Name}}</h5>
                                <h6><u>Party Name</u>: {{candidate.Party}}</h6>
                                <p style="position: absolute;">
                                    {% if user.is_staff %}
                                    <a href="{% url 'candidate_edit' candidate.id %}" class="mt-3" data-toggle="tooltip" data-placement="top" title="Edit poll"><i class="fas fa-pencil-alt float-right btn btn-primary btn btn-sm mr-1"> Edit</i></a>
                                    {% endif %}
                                </p>
                                
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}