{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block body %}
    <div class="container-fluid" width="100%" style="border: 1px solid black;position: absolute;height: 100%;" overflow="hidden">
        <div style="background-color: #93E9BE;width: 100%;position: absolute;left: 0px;height: 80px;"></div>
        <div class="loginbox">
            <div class="header">
                <h1 style="background-color: #93E9BE;">LOGIN</h1>
            </div>
            <br><br>
            <div class="main">
                <form method="post">
                    {% csrf_token %}
                        {% if messages %}
                        {% for i in messages %}
                        <div class="alert alert-{{i.tags}} alert-dismissible" data-clossable>
                            {{i}}
                            <button type="button" class="close" data-dismiss="alert" data-close>&times;</button>
                        </div>
                        {% endfor %}
                        <hr>
                        {% endif %}
                    <p>Aadhar number:</p>
                    <input type="text" name="anumber" placeholder="Aadhar Number" required="required" autocomplete="off">
                    <p>Phone Number</p>
                    <input type="text" name="pnumber" placeholder="Phone Number" required="required" autocomplete="off">
                    <input type="submit" value="submit">
                </form>
            </div>
        </div>

        <style>
            .loginbox{
                width: 320px;
                background: white;
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%,-50%);
                box-sizing: border-box;
                padding: 50px 30px;
                border: 1px solid black;
                border-radius: 25px;
            }
            .header h1{
                margin: 0;
                padding: 0 0 20px;
                text-align: center;
                font-size: 30px;
            }
            .loginbox p{
                margin: 0;
                padding: 0;
                font-weight: bold;
            }
            .loginbox input{
                width: 100%;
                margin-bottom: 20px;
            }
            .loginbox input[type="text"]{
                border: none;
                border-bottom: 1px solid black;
                background: transparent;
                outline: none;
                height: 30px;
                font-size: 16px;
            }
            .loginbox input[type="submit"]{
                border: none;
                outline: none;
                height: 40px;
                background: #93E9BE;
                font-size: 18px;
                border-radius: 20px;
            }
            .loginbox input[type="submit"]:hover{
                cursor: pointer;
                background: rgba(0,0.6,0,0.3);
                transition:0.4s;
            }
        </style>

    </div>  
{% endblock %}